td, th {
	border: 2px solid;
	padding: 8px;
    text-align: center;
  }
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    margin: 5px 0;
    font-style: italic;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: darkblue;
    color: white;
    font-weight: bold;
}
